.app {

}
.app-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1000px;
  margin: 10px auto;
}
.not-connect {
  color: red;
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.card {
  width: 500px;
  margin: 0 auto;
}